.center {
    text-align: center;
}
body {
    background-color: rgb(241, 241, 241);
}
h1 {
    font-size: 3rem;
    color: rgb(116, 50, 110);
}
p {
    font-size: 1.5rem;
    color: rgb(53, 52, 52);
}
textarea {
    height: 420px;  
    border: solid 2px rgb(116, 50, 110);
    padding: 15px;
    background-color: rgb(245, 224, 243);
    font-size: 1.5rem;
}
.marg_bot {
    margin-bottom: 40px;
}
.marg_top {
    margin-top: 40px;
}
button {
    background-color: rgb(116, 50, 110);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(51, 19, 47);
}